
body{
    background-color: #EDEDED;
    text-align: center;
}

main{
    width: 100vw;
    height: 80vh;
    margin: 0 auto;
    font-family: monospace;
    font-size: 2em;
    padding-top: 1em;
    text-align: center;
}

h1:hover{
    color: #8b0000;
}

.content{
    display: flex;
    height: 50vh;
    justify-content: center;

}

.container {
    width: 20vw;
}

footer {
    text-align: center;
    padding: 2px;
    margin-top: 20px;
}

.core{
    color: #8b0000;
}

.redes {
    width: 40px;
    text-align: center;
}

a {
    color: #402714;
    text-decoration: none;
}

a:hover{
    color: #804E29;
    text-decoration: none;
}
.botom{
    display: flex;    
    align-items: flex-end;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
}
button {
    background-color: rgb(235, 227, 222);
    width: 20%;
    height: 15%;
    border-radius: 40px;
    text-transform: uppercase;
    text-align: center;
    font-family: monospace; 
}
