.main {
  background-color: #ffffff;
  padding: 30px;
  margin: 50px auto;
  max-width: 500px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.main h1 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

.form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input[type="text"] {
  height: 40px;
  padding: 0 20px;
  font-size: 20px;
  border: 1px solid #ccc;
  min-width: 80%;
}

.form button[type="submit"] {
  border: none;
  height: 40px;
  width: 40px;
  background-color:	#008b4a;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tarefas {
  margin-top: 30px;

}

.tarefas li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: all 600ms;
  max-width: 90%;
  margin: 0 auto;
}

.tarefas li:hover {
  background-color: #dadcb2;
}

.tarefas li .edit {
  margin-right: 15px;
  color: #7fc2c5;
}
.tarefas li .delete {
  margin-right: 15px;
  color: #ad4caa;
}

.tarefas li:hover .edit,
.tarefas li:hover .delete {
  color: #8b0500;
}
.tarefas li .edit,
.tarefas li .delete {
  cursor: pointer;
  transition: all 600ms;
}
