* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
}

body {
  width: 100vw;
  height: 100vh;
}

h1 {
  font-family: "Bubblegum Sans", cursive;
  font-size: 6rem;
  color: #42a8c7;
  text-align: center;
}

main {
  /* max-width: 50vw;
  margin: 0 auto;
  height: 100vh; */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.bolha {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
}

footer {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.redes {
  width: 80px;
  text-align: center;
}

img.redes:hover {
  width: 100px;
  transition-delay: 0.5s;
}


@media screen and (max-width: 732px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1 {
    color: #9a8297;
    font-family: "Bubblegum Sans", cursive;
    text-transform: uppercase;
    font-size: 3rem;
  }


  main {
    max-width: 50vw;
    width: 50vw;
    margin: 0 auto;
    font-family:  "Bubblegum Sans", cursive;
    text-align: center;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .redes {
    width: 60px;
    text-align: center;
  }
}